@import "../fontawesome/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400&Fira+Code:wght@400;600&display=swap');

:root {
    --light-blue: #18afe3;
    --light-blue2: #0b97c8;
    --dark-blue: #094b85;
    --bg-blue: #ddecf3;
    --bg-blue2: #f2fbff;
    --red: #bd4112;
}

body {
    /* background: #e6f0f5; */
    background: linear-gradient(to top right, var(--bg-blue), var(--bg-blue2));
}

.reveal {
    font-size: 30px;
    font-family: "Poppins";
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Farro";
    color: var(--dark-blue);
}

.reveal h1 {
    color: var(--light-blue);
}

.reveal h1 img {
    background: none;
    border: none;
    box-shadow: none;
    height: 2em;
}

.reveal .title {
    margin-bottom: 1em;
}

.reveal ul {
    list-style-type: disclosure-closed;
}
.reveal ul li::marker {
    color: #797979;
}
.reveal .fa-ul {
    list-style-type: none;
}
.reveal ul.loose li {
    margin: 20px 0;
}
.reveal ul ul {
    list-style-type: disc;
}
.reveal ul ul ul {
    list-style-type: square;
}

.reveal a {
    color: var(--red);
}



.reveal pre {
    box-shadow: 0 0 5px 5px var(--dark-blue);
}
.reveal pre code {
    padding: 10px;
    background: white;
}
.reveal code {
    font-family: "Fira Code";
}

code span.kw {
    color: var(--light-blue2);
}
code span.dt {
    color: var(--dark-blue);
}
code span.st {
    color: var(--red);
}

.reveal strong {
    color: var(--dark-blue);
}

.reveal img.logo {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    height: 1em;
}
.reveal img.logo.biglogo {
    height: 2em;
}

.reveal section img {
    box-shadow: none;
}

.reveal section img.noborder {
    border: none;
}

.reveal section img.pos-fix {
    position: fixed;
    max-height: 90vh;
    left: 0;
    right: 0;
    bottom: 100%;
    transform: translateY(80%);
}


.reveal section .dual-panel {
    display: flex;
    align-items: center;
}
.reveal section .dual-panel.dual-top {
    align-items: flex-start;
}

.reveal section .dual-panel .left-panel {
    padding: 1em;
}
.reveal section .dual-panel .right-panel {
    flex: 1;
    position: relative;
    height: 600px;
}

.reveal section .dual-panel .right-panel img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}


.reveal section .social {
    margin: 3em 0;
    display: flex;
    justify-content: space-around;
}
.reveal section .social p {
    display: flex;
    flex-direction: column;
}
.reveal section .social i {
    margin-bottom: 0.5em;
    font-size: 2em;
}
.reveal section .social p span {
    font-size: 0.9em;
    line-height: 1.5em;
}

.footer {
    display: flex;
    flex-wrap: wrap;
}
.reveal section .footer img {
    border: none;
    height: 3em;
    flex: 1;
    margin: 1em;
}
