.reveal ul.stacked
    position: relative
    width: 100%

    li
        position: absolute
        width: 100%
        text-align: center 

// .reveal .boxed
//     background: transparentize(#177ebf, 0.2)
//     color: white                                             
//     border-radius: 20px
//     padding: 20px 0